body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background: rgb(248, 242, 242);
  margin: 40px auto;
}
/* main content */
.main-content-section {
  padding: 100px 90px;
}

.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}

/* about me section */
.about-me-section {
  margin: 0 0 40px 0;
}
.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 0 0 20px 0;
}
.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin: 0 0 25px 0;
}
.about-me-description {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
/* my project section */
.my-project-section {
  margin: 0 0 50px 0;
}
.my-project-list {
  padding: 0 0 0 17px;
}
.my-projects-item {
  color: #000;
  font-weight: bold;
}
.my-project-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-project-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}
.my-project-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

/* my-work-experience-section */
.my-work-experience-company {
  color: #fb6d3a;
}
.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0 0 10px 0;
}
.my-work-experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}
.my-work-experience-devider {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.my-work-experience-duties {
  padding: 0 0 0 18px;
}
.my-work-experience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-work-experience-company-block {
  margin: 0 15px 0 0;
}
/* sidebar section */
.sidebaar-section {
  background: #bdd2f1;
  margin: 8px 88px 8px 11px;
  width: 450px;
  padding: 40px 0;
}

.sidebaar-section img{
  border-radius: 50%;
}
.contact-birth,
.contact-section,
.tech-skills-section {
  margin: 50px 0 0 40px;
}
.birth-title,
.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #373737;
  margin-bottom: 10px;
}
/* contact section */
.contact-section-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin-right: 5px;
  color:  #373737;
  margin-right: 7px;
}
.contact-section-linc {
  color: #565e6a;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
/* tech skills item */
.tech-skills-list {
  padding: 0 0 0 17px;
}
.tech-skills-item {
  color: #fb6d3a;
}
.birthday,
.tech-skills-item-text {
  color:  #373737;
}
/* soft skill section */
.soft-skills-section {
  margin: 40px 0 0 40px;
}
.soft-skills-list {
  padding: 0 0 0 17px;
}
.soft-skills-item {
  color: #fb6d3a;
}
.soft-skills-item-text {
  color: #373737;
}
.tel {
  text-decoration: none;
  color: #565e6a;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
